<div class="options">
  <button (click)="addPairs()">
    Add more
  </button>
  <button (click)="giveHint()" class="secondary">
    Hint
  </button>
  <button (click)="startGame()" class="secondary">
    Reset
  </button>
  <button [routerLink]="['/']" class="secondary flex-end">
    Go back
  </button>
</div>



<div id="board">
  <div *ngFor="let cell of list; index as i;" (click)="selectCell(i)" [class]="
  {
    'selected': i == selected,
    'hidden': !cell.visible,
    'hint': hint.includes(i),
    'being-deleted': cell.isBeingDeleted
  }">
    {{ cell.visible ? cell.type : null }}
  </div>
</div>
