<div class="options">
  <button (click)="addPairs()">
    <fa-icon [icon]="['fas','plus']"></fa-icon>
  </button>
  <button (click)="giveHint()" class="secondary">
    <fa-icon [icon]="['fas','question']"></fa-icon>
  </button>
  <button (click)="resetBoard()" class="secondary">
    <fa-icon [icon]="['fas','undo']"></fa-icon>
  </button>
  <button (click)="returnToMenu()" class="secondary">
    <fa-icon [icon]="['fas','home']"></fa-icon>
  </button>
</div>



<div id="board">
  <div *ngFor="let cell of list; index as i;" (click)="selectCell(i)" [class]="
  {
    'selected': i == selected,
    'hidden': !cell.visible,
    'hint': hint.includes(i),
    'being-deleted': cell.isBeingDeleted
  }">
    {{ cell.visible ? cell.type : null }}
  </div>
</div>

<div class="centered box" *ngIf="isFinished">
  <div class="head">
    <h1>
      Game solved
    </h1>
  </div>
  <div class="body">
    <div class="options center">
      <button (click)="resetBoard(true)" > <fa-icon [icon]="['fas','undo']"></fa-icon> Restart </button>
      <button (click)="returnToMenu(true)" class="secondary" > <fa-icon [icon]="['fas','home']"></fa-icon> </button>
    </div>
  </div>
</div>
