#board{
  display: grid;
  grid-template-columns: repeat(9,  calc(100% / 9));
  padding-top: 4rem;
}

#board>div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  cursor: pointer;
  border-bottom: 1px grey solid;

  transition: height .5s;
}

.selected {
  -webkit-box-shadow: 0px 0px 20px 5px #ccc;
  -moz-box-shadow:    0px 0px 20px 5px #ccc;
  box-shadow:         0px 0px 20px 5px #ccc;
}

.hidden{
  background-color: darkgray;
}

.options{
  position: fixed;
  padding: 1rem;
}
.options>button{
  margin-right: 10px;
}
.flex-end{
  margin-left: auto!important;
}

.hint{
  outline: 2px red solid;
}

.being-deleted{
  height: 0px!important;
}
