/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: PressStart2P;
  src: url(/assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}
@font-face {
  font-family: Quicksand;
  src: url(/assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
body{
  margin: 0;
}
*{
  font-family: Quicksand;
}
h1, h2{
  font-family: PressStart2P;
  white-space: nowrap;
}


button{
  padding: .5rem 1rem;
  border: 1px solid grey ;
  border-radius: .5rem;
  background: white;
  font-size: 1rem;
  outline: none!important;
}
button:hover{
  background-color: lightgray;
}
button:active{
  background-color: gray;
  outline: none;
}
button:disabled{
  background-color: lightgray;
}
button.secondary{
  font-size: .75rem;
}
